NODE_ENV=development

JWT_SECRET_KEY=YOUR_SECRET_KEY
PORT=3000 OR ANY PORT

USER=YOUR GOOGLE EMAIL
PASS=YOUR GOOGLE APPLICATION OR SECURITY CODE

OPENAI_API_KEY=YOUR OPEN_AI API KEY

CLOUDINARY_CLOUD_NAME=YOUR CLOUDINARY CLOUD NAME, 
CLOUDINARY_API_KEY=YOUR CLOUDINARY API KEY, 
CLOUDINARY_API_SECRET=YOUR CLOUDINARY API SECRET
